<div id="<%= dom_id entity %>">
  <p>
    <strong>Name:</strong>
    <%= entity.name %>
  </p>

  <p>
    <strong>Name en:</strong>
    <%= entity.name_en %>
  </p>

  <p>
    <strong>Name cz:</strong>
    <%= entity.name_cz %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= entity.order %>
  </p>

  <p>
    <strong>Authority:</strong>
    <%= entity.authority %>
  </p>

</div>
