<%= form_with(model: state) do |form| %>
  <% if state.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(state.errors.count, "error") %> prohibited this state from being saved:</h2>

      <ul>
        <% state.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :character_id, style: "display: block" %>
    <%= form.collection_select :character_id, Character.all, :id, :description_cz %>
  </div>

  <div>
    <%= form.label :entity_id, style: "display: block" %>
    <%= form.collection_select :entity_id, Entity.all, :id, :name %>
  </div>

  <div>
    <%= form.label :sex_id, style: "display: block" %>
    <%= form.collection_select :sex_id, Sex.all, :id, :description_cz %>
  </div>

  <div>
    <%= form.label :value_min, style: "display: block" %>
    <%= form.text_field :value_min %>
  </div>

  <div>
    <%= form.label :value_max, style: "display: block" %>
    <%= form.text_field :value_max %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
