<%= form_with(model: state) do |form| %>
  <% if state.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(state.errors.count, "error") %> prohibited this state from being saved:</h2>

      <ul>
        <% state.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="left_panel">
      <div>
        <b>Skupina znaků:</b>&nbsp;<%= @character.feature.name_cz %>
      </div>

      <div>
        <b>Znak:</b>&nbsp;<%= @character.description_cz %>
        <%= form.hidden_field :character_id, value: params['character'] ? Character.find(params['character']).id : @state.character.id %>
      </div>

      <div>
        <b>Druh:</b>&nbsp;<%= params['entity'] ? Entity.find(params['entity']).name : @state.entity.name %>
        <%= form.hidden_field :entity_id, value: params['entity'] ? Entity.find(params['entity']).id : @state.entity.id %>
      </div>

      <div>
        <b>Pohlaví:</b>&nbsp;<%= params['sex'] ? Sex.find(params['sex']).description_cz : @state.sex.description_cz %>
        <%= form.hidden_field :sex_id, value: params['sex'] ? Sex.find(params['sex']).id : @state.sex.id %>
      </div>
    </div>

    <div class="right_panel">

      <% if @character.feature_type_id === 1 %>

        <div>
          <b>Spodní hranice parametru:</b><br><%= form.text_field :value_min, :required => true %>
        </div>

        <div>
          <b>Horní hranice parametru:</b><br><%= form.text_field :value_max, :required => true %>
        </div>

      <% else %>

        <div>
          <%= form.check_box :show_in_key, :id => 'show_in_key', :value => state && state.show_in_key ? state.show_in_key : true %>Použít fotografii v klíči
        </div>

        <div id="foto">
          <div><b>Fotografie znaku:</b></div>
          <% if (!@state.id.nil?) %>
            <% if (@state.image.attached?) %>
              <%= image_tag url_for(@state.image), size: "300x300" %><br>
            <% else %>
              <img src="/images/stop-icon-13421.png" width="300" height="300"><br>
            <% end %>
            <%= form.file_field :image %>
          <% else %>
            <%= form.file_field :image %>
          <% end %>
        </div>

      <% end %>

    </div>
    <br class="clear">

  <div>
    <%= form.button 'Uložit stav', type: 'submit', id: "submit" %>
  </div>
<% end %>
