<%= form_with(model: state) do |form| %>
  <% if state.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(state.errors.count, "error") %> prohibited this state from being saved:</h2>

      <ul>
        <% state.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <h3>Skupina znaků:</h3>
    <%= @character.feature.name_cz %>
  </div>

  <div>
    <h3>Znak:</h3>
    <%= form.hidden_field :character_id, value: params['character'] ? Character.find(params['character']).id : @state.character.id %>
    <%= @character.description_cz %>
  </div>

  <div>
    <h3>Druh:</h3>
    <%= form.hidden_field :entity_id, value: params['entity'] ? Entity.find(params['entity']).id : @state.entity.id %>
    <%= params['entity'] ? Entity.find(params['entity']).name : @state.entity.name %>
  </div>

  <div>
    <h3>Pohlaví:</h3>
    <%= form.hidden_field :sex_id, value: params['sex'] ? Sex.find(params['sex']).id : @state.sex.id %>
    <%= params['sex'] ? Sex.find(params['sex']).description_cz : @state.sex.description_cz %>
  </div>

  <% if @character.feature_type_id === 1 %>

    <div>
      <h3>Spodní hranice parametru:</h3>
      <%= form.text_field :value_min, :required => true %>
    </div>

    <div>
      <h3>Horní hranice parametru:</h3>
      <%= form.text_field :value_max, :required => true %>
    </div>

  <% else %>

    <div>
      <h3>Fotografie znaku:</h3>
      <% if (!@state.id.nil?) %>
        <%= image_tag url_for(@state.image), size: "300x300" %><br />
        <%= form.file_field :image %>
      <% else %>
        <%= form.file_field :image, :required => true %>
      <% end %>
    </div>

  <% end %>

  <div>
    <br /><%= form.submit %>
  </div>
<% end %>
