<div id="<%= dom_id state %>">
  <p>
    <strong>Character:</strong>
    <%= state.character_id %>
  </p>

  <p>
    <strong>Entity:</strong>
    <%= state.entity_id %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= state.sex_id %>
  </p>

  <p>
    <strong>Value min:</strong>
    <%= state.value_min %>
  </p>

  <p>
    <strong>Value max:</strong>
    <%= state.value_max %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= state.image %>
  </p>

</div>
