  <h3>Druhy rodu <i>Ips</i></h3>
  <table>
    <tr>
      <% @entities.each do |entity| %>
        <td><img id="img_<%= entity.id %>" class="thumbnail species" src="images/<%= entity.name.gsub(' ', '_').downcase %>.jpg" onclick="openSpeciesInfo('<%= entity.name.gsub(' ', '_').downcase %>');" /></td>
      <% end %>
    </tr>
    <tr>
      <% @entities.each do |entity| %>
        <td><i><%= entity.name %></i></td>
      <% end %>
    </tr>
  </table>

  <div id="species-sheet">
    <%= render partial: 'species_sheet' %>
  </div>
