  <h3><%= displayLangLabel(params[:lang], 'selected_species') %></h3>
  <% if session[:query] === [] %>
    <img id="no-results" src="/images/stop-icon-13421.png">
  <% else %>
    <table>
      <tr>
        <% @entities.each do |entity| %>
          <% if (entity.seq == 1) %>
            <% if session[:query].include? "#{entity.id}_2" %>
              <td><img alt="<%= entity.name %>" id="img_<%= entity.id %>" class="thumbnail species" src="images/<%= entity.name.gsub(' ', '-').downcase %>.jpg" onclick="openSpeciesInfo('<%= entity.name.gsub(' ', '_').downcase %>');" /></td>
            <% end %>
            <% if session[:query].include? "#{entity.id}_3" %>
              <td><img alt="<%= entity.name %>" id="img_<%= entity.id %>" class="thumbnail species" src="images/<%= entity.name.gsub(' ', '-').downcase %>.jpg" onclick="openSpeciesInfo('<%= entity.name.gsub(' ', '_').downcase %>');" /></td>
            <% end %>
          <% else %>
            <% if session[:query].include? "#{entity.id}_1" %>
              <td><img alt="<%= entity.name %>" id="img_<%= entity.id %>" class="thumbnail species" src="images/<%= entity.name.gsub(' ', '-').downcase %>.jpg" onclick="openSpeciesInfo('<%= entity.name.gsub(' ', '_').downcase %>');" /></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
      <tr>
        <% @entities.each do |entity| %>
          <% if (entity.seq == 1) %>
            <% if session[:query].include? "#{entity.id}_2" %>
              <td><i><%= entity.name %> - <%= @sexes[1].send(@desc_attribute) %></i></td>
            <% end %>
            <% if session[:query].include? "#{entity.id}_3" %>
              <td><i><%= entity.name %> - <%= @sexes[2].send(@desc_attribute) %></i></td>
            <% end %>
          <% else %>
          <% if session[:query].include? "#{entity.id}_1" %>
              <td><i><%= entity.name %></i></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    </table>
  <% end %>

  <% session[:query].inspect %>

  <div id="species-sheet">
    <%= render partial: 'species_sheet' %>
  </div>
