<script gwd-served-sizes="" type="application/json">["1194x688"]</script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.selected_state span').hide();

    $('.image_cell').hover(
        function () {
          $(this).closest('table').find('.state-description-hover').html($(this).children(':first').attr('alt'));
          $(this).find('img').css('opacity') === '1';
          $(this).find('img').removeClass("greyscale");
        }, 
        function () {
          $(this).closest('table').find('.state-description-hover').html('');
          if ($(this).attr('id')) {
            id = $(this).attr('id').replace('image_cell_', '');
            if (!$('#checkbox_' + id).is(":checked")) {
              $(this).find('img').css('opacity') === '0.8';
              $(this).find('img').addClass("greyscale");
            }
          }
        }
      );
    $('.image-popup-vertical-fit').mouseout(
        function () {
          $(this).closest('table').find('.state-description-hover').html('');
        }
      );
    $('.image_cell input').change(
        function () {
          $(this).closest('.child').css('border-color', 'red');
          if ($(this).closest('.child').find('input:checked').length === 0) {
            $(this).closest('.child').css('border-color', 'black');
          }
          id = $(this).attr('id').replace('checkbox_', '');
          $('#state_' + id).toggle();
          if ($('#image_' + id).css('opacity') === '1') {
            $('#image_' + id).css({ 'opacity' : 0.8 });
            $('#image_' + id).addClass("greyscale");
          } else {
            $('#image_' + id).css({ 'opacity' : 1 });
            $('#image_' + id).removeClass("greyscale");
          }
          $('#output').html("<%= j (render partial: 'output') %>");
        }
      );
    $('.slider input').on('input change paste keyup', function() {   
        $(this).closest('.slider').find('.rangeValue').html($(this).val());
        $(this).closest('.child').css('border-color', 'red');
        $.ajax({url: "/pages/output", data: $(this).attr('id') + '=' + $(this).val(), success: function(result) {
          $("#output").html(result);
        }});
    });
    $('.image_cell input').click(
      function () {
        data = $(this).is(":checked") ? $(this).attr('id') + '=1' : $(this).attr('id') + '=0'
        $.ajax({url: "/pages/output", data: data, success: function(result) {
          $("#output").html(result);
        }
      });
    });
    $('.reset').click(
      function () {
        $(this).closest('.slider').find('.rangeValue').html('0');
        $(this).closest('.slider').find('input').value = 0;
        $(this).closest('.child').css('border-color', 'black');
        $.ajax({url: "/pages/output", data: $(this).attr('id') + '=1', success: function(result) {
          $("#output").html(result);
        }
      });
    });
  });
  
  function openHelp() {
    document.getElementById('mySidenav').style.width = '250px';
  }
  function closeHelp() {
    document.getElementById('mySidenav').style.width = '0';
  }


</script>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeHelp()">&times;</a>
    <h3>Help</h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque ipsum. Curabitur bibendum justo non orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Integer in sapien. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Mauris elementum mauris vitae tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Fusce tellus.</p>
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Etiam commodo dui eget wisi. Aliquam erat volutpat. Nullam dapibus fermentum ipsum. Nunc auctor. Duis condimentum augue id magna semper rutrum. Fusce nibh. Nullam eget nisl. Nullam rhoncus aliquam metus. Proin mattis lacinia justo. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Praesent vitae arcu tempor neque lacinia pretium. Aenean id metus id velit ullamcorper pulvinar. Nunc tincidunt ante vitae massa. Donec quis nibh at felis congue commodo. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Aliquam ornare wisi eu metus. Curabitur vitae diam non enim vestibulum interdum.</p>
  </div>

  <div id="header">
    <span class="help-icon" onclick="openHelp()">&#9776;</span>
    <span style="float: right;" class="language-icon">EN</span>
  </div>
  <div class="block">
    <div class="centered">
      <h1>
        Maticový determinační klíč<br />lýkožroutů rodu Ips České republiky
      </h1>

      <% @features.each do |feature| %>
        <% @characters = Character.where(feature_id: feature.id) %>
        
        <% if (@characters.first.feature_type_id == 1) %>
          <% sliderVals = getSliderValues(State.where(character_id: @characters.first.id)) %>

          <!-- Numeric value box -->

          <div class="child">
            <h3><%= feature.send(@name_attribute) %></h3>
            <div class="slider">
              <p><%= @characters.first.send(@desc_attribute) %>:</p><input id="character_<%= @characters.first.id %>" type="range" step="0.01" value="0" min="<%= sprintf "%.2f", sliderVals[0] %>" max="<%= sprintf "%.2f", sliderVals[1] %>">
              <div class="rangeValue">0</div><div class="reset" id="reset_<%= @characters.first.id %>">X</div>
            </div>
          </div>

        <% else %>

          <!-- Selection box -->

          <div class="child">
            <h3><%= feature.send(@name_attribute) %></h3>  
            <table>
              <tr>
                <td colspan="<%= @characters.count + 1 %>"><div class="state-description-hover"></div></td>
              </tr>
              <tr>
                <td>&nbsp;</td>

                <% checkboxes = [] %>
                <% @characters.each do |character| %>

                  <% if (state = State.where(character_id: character.id, show_in_key: true).first) %>
                    
                    <% checkboxes << [ state.id, character.send(@desc_attribute) ] %>
                    <td class="image_cell popup-gallery" id="image_cell_<%= state.id %>">
                      <a href="<%= url_for(state.image) %>" title="<%= colateImgDescription(state) %>" alt='<%= character.send(@desc_attribute) %>'>
                        <%= image_tag state.image.variant(resize_to_limit: [100, 100]), width: 100, height: 100, class: "thumbnail galleryimages greyscale", id: "image_#{state.id}"%>
                      </a>
                      <% if (feature.id != @host_feature_id) %>
                        <% State.where(character_id: character.id).where.not(entity_id: state.entity_id).uniq { |o| o.entity_id }.each do |other| %>
                          <% if other.image.attached? %>
                            <a class="hidden" href="<%= url_for(other.image) %>" title="<%= colateImgDescription(other) %>" alt='<%= character.send(@desc_attribute) %>'>
                              <%= image_tag other.image.variant(resize_to_limit: [100, 100]), width: 100, height: 100, class: "thumbnail galleryimages greyscale", id: "image_#{other.id}"%>
                            </a>
                          <% end %>                       
                        <% end %>
                      <% end %>
                    </td>

                  <% elsif (state = getStateWithImage(character.id)) %>

                    <% checkboxes << [ state.id, character.send(@desc_attribute) ] %>
                    <td class="image_cell popup-gallery" id="image_cell_<%= state.id %>">
                      <a class="image-popup-vertical-fit" href="<%= url_for(state.image) %>" title="<%= colateImgDescription(state) %>" alt='<%= character.send(@desc_attribute) %>'>
                          <%= image_tag state.image.variant(resize_to_limit: [100, 100]), class: "thumbnail galleryimages greyscale", id: "image_#{state.id}"%>
                      </a>
                      <% if (feature.id != @host_feature_id) %>
                        <% State.where(character_id: character.id).not(entity_id: state.entity_id).uniq { |o| o.entity_id }.each do |other| %>
                          <% if other.image.attached? %>
                            <a class="hidden" href="<%= url_for(other.image) %>" title="<%= colateImgDescription(other) %>" alt='<%= character.send(@desc_attribute) %>'>
                              <%= image_tag other.image.variant(resize_to_limit: [100, 100]), width: 100, height: 100, class: "thumbnail galleryimages greyscale", id: "image_#{other.id}"%>
                            </a>
                          <% end %>                       
                        <% end %>
                      <% end %>
                    </td>

                  <% else %>

                  <% checkboxes << [ state.id, character.send(@desc_attribute) ] %>
                    <td class="image_cell">
                      <a title="<%= colateImgDescription(state) %>" alt='<%= character.send(@desc_attribute) %>'>
                        <img src="/images/stop-icon-bg.png">
                      </a>
                    </td>

                  <% end %>
                <% end %>

              </tr>
              <tr>
                <td>&nbsp;</td>

                <% checkboxes.each do |state| %>

                  <td class="image_cell"><input id="checkbox_<%= state.first %>" type="checkbox" /></td>            

                <% end %>

              </tr>
              <tr>

                <td colspan="<%= @characters.count + 1 %>" class="selected_state">
                
                <% checkboxes.each do |state| %>
                  
                  <span id="state_<%= state.first %>"><%= state.second %></span>   

                <% end %>

              </tr>
            </table>
          </div>

        <% end %>
      <% end %>
  </div>
  <div id="output">
    <%= render partial: 'initial' %>
  </div>

  <script>
  $(document).ready(function() {

    $('.image-popup-vertical-fit').magnificPopup({
      type: 'image',
      closeOnContentClick: true,
      mainClass: 'mfp-img-mobile',
      image: {
        verticalFit: true
      }
      
    });
  
    $('.image-popup-fit-width').magnificPopup({
      type: 'image',
      closeOnContentClick: true,
      image: {
        verticalFit: false
      }
    });
  
    $('.image-popup-no-margins').magnificPopup({
      type: 'image',
      closeOnContentClick: true,
      closeBtnInside: false,
      fixedContentPos: true,
      mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
      image: {
        verticalFit: true
      },
      zoom: {
        enabled: true,
        duration: 300
      }
    });

    $('.popup-gallery').each(function() {
      $(this).magnificPopup({
        delegate: 'a',
        type: 'image',
        tLoading: 'Nahrávám fotografii #%curr%...',
        mainClass: 'mfp-img-mobile',
        gallery: {
          enabled: true,
          navigateByImgClick: true,
          preload: [0,1] // Will preload 0 - before current, and 1 after the current image
        },
        image: {
          tError: '<a href="%url%">Fotografii #%curr%</a> se nepodařilo nahrát.',
          titleSrc: function(item) {
            return item.el.attr('title');
          }
        }
      });
    });
  });
  </script>
</body>

</html>
