<div id="<%= dom_id character %>">
  <p>
    <strong>Feature:</strong>
    <%= character.feature_id %>
  </p>

  <p>
    <strong>Feature type:</strong>
    <%= character.feature_type_id %>
  </p>

  <p>
    <strong>Description en:</strong>
    <%= character.description_en %>
  </p>

  <p>
    <strong>Description cz:</strong>
    <%= character.description_cz %>
  </p>

</div>
